<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <!-- logo -->
    <a class="navbar-brand" routerLinkActive="active" routerLink="home"><img src="assets/img/logo3.png" id="logo"
        width="200vw"></a>

    <!-- menu hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones"
      aria-controls="opciones" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- opciones -->
    <div class="collapse navbar-collapse" id="opciones">

      <!-- opciones de navegación -->
      <ul class="navbar-nav  mb-2 mb-lg-0">

        <!-- login -->
        <li class="nav-item">
          <a class="btn btn-outline-warning" routerLinkActive="active" routerLink="login" *ngIf="!strUserName">Login</a>
        </li>

        <!-- gestion de usuario-->
        <!-- *ngIf="oUsuarioSession.tipousuario.id==1" -->
        <li class="nav-item dropdown" *ngIf="strUserName">
          <a class="nav link-3 dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            Gestión de usuarios</a>
          <ul class="dropdown-menu">
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                routerLink="admin/tipousuario/plist">Tipos de Usuario</a></li>
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                routerLink="admin/usuario/plist">Usuarios</a></li>
            <li *ngIf="strUserName=='user'"><a class="dropdown-item" routerLinkActive="active"
                [routerLink]="['user/usuario/view', strId]">Mi Usuario</a></li>
          </ul>
        </li>

        <!-- gestion de espacios-->
        <li class="nav-item dropdown" *ngIf="strUserName">
          <a class="nav link-3 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false" *ngIf="strUserName=='admin'">Gestión de Espacios</a>
          <ul class="dropdown-menu">
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                routerLink="admin/espacio/plist">Espacios</a></li>
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                routerLink="admin/salon/plist">Salon</a></li>

          </ul>
        </li>

        <!-- gestion de eventos-->
        <li class="nav-item dropdown" *ngIf="strUserName">
          <a class="nav link-3 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Gestión de Eventos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/servicio/plist">Servicio</a></li>
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
              routerLink="admin/lineaservicio/plist">Lineas-Servicio</a></li>
          </ul>
        </li>

        <!-- gestion de gastronomía-->
        <li class="nav-item dropdown" *ngIf="strUserName=='admin'">
          <a class="nav link-3 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Gestión de Gastronomía</a>

          <ul class="dropdown-menu">
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                routerLink="admin/escandallo/plist">Escandallos</a></li>
                <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                  routerLink="admin/lineaescandallo/plist">Lineas-Escandallo</a></li>
            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
                routerLink="admin/referencia/plist">Referencias</a></li>

            <li *ngIf="strUserName=='admin'">
              <hr class="dropdown-divider">
            </li>

            <li *ngIf="strUserName=='admin'"><a class="dropdown-item" routerLinkActive="active"
              routerLink="admin/tipoplato/plist">Tipos de Plato</a></li>
          </ul>
        </li>


      </ul>

      <!-- Muestra el nombre cuando estás logeado -->


        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="usuario"
              *ngIf="strUserName">Logged
              in as: {{strUserName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="logout"
              *ngIf="strUserName">Logout</a>
          </li>
        </ul>



    </div>



  </div>
</nav>
