<div class="container-fluid">

<!-- <nav id="nav-1">
  <a class="link-1" href="#">Home</a>
  <a class="link-1" href="#">About</a>
  <a class="link-1" href="#">Contact</a>
  <a class="link-1" href="#">Shop</a>
</nav>

<nav id="nav-2">
  <a class="link-2" href="#">Home</a>
  <a class="link-2" href="#">About</a>
  <a class="link-2" href="#">Contact</a>
  <a class="link-2" href="#">Shop</a>
</nav> -->

<nav id="nav-3">

  <a class="link-3" routerLinkActive="active" routerLink="home">Home</a>
  <a class="link-3" routerLinkActive="active" routerLink="login">Login</a>
  <a class="link-3" routerLinkActive="active" routerLink="admin/tipousuario/plist">Tipos de usuario</a>
  <a class="link-3" routerLinkActive="active" routerLink="admin/usuario/plist">Usuarios</a>
  <a class="link-3" routerLinkActive="active" routerLink="admin/espacio/view/:id">Espacios</a>
  <!-- <a class="link-3" routerLinkActive="active" routerLink="user" *ngIf="oUsuarioSession">{{strUserName}}</a> -->

 <button (click)="logout()" class="btn btn-danger" routerLink="login">Logout</button>

</nav>

</div>
