<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Lista de Servicios</h1>
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3">

        <a [routerLink]="['/user/servicio/new']" class="btn btn-primary mx-3">Nuevo Servicio</a>
        <app-search-unrouted [placeHolder]="'Filtrar por fecha'" (onSearch)="setFilter( $event )"></app-search-unrouted>
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.size"
          (eeRpp)="this.setRpp($event)"></app-dropdown-register-page>
      </div>

      <div class="col-md text-center">
        <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>

      <div class="col-md text-start">
        <button class="btn btn-outline-danger" *ngIf="id_UsuarioFilter!=0" (click)="setFilterByUsuario(0)">
          <i class="bi bi-x-circle"></i> Reset Usuario {{id_UsuarioFilter}} filter</button>
      </div>

      <div class="col-md text-start">
        <button class="btn btn-outline-danger" *ngIf="id_SalonFilter!=0" (click)="setFilterBySalon(0)">
          <i class="bi bi-x-circle"></i> Quitar filtro id {{id_SalonFilter}} salon</button>
      </div>

      <div class="col-md text-end">
        <h5 class="text-muted">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th (click)="setOrder('id')">ID
              <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th>
            <th (click)="setOrder('usuario.id')">Responsable</th>
            <th (click)="setOrder('salon.id')">Salon</th>
            <th (click)="setOrder('salon.espacio.nombre')">Espacio</th>
            <th (click)="setOrder('lineasServicio')">Platos que tiene el servicio</th>
            <th (click)="setOrder('comensales')">Comensales</th>
            <th>Fecha y Hora</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of responseFromServer.content">
            <td>{{servicio.id}}</td>
            <td (click)="setFilterByUsuario(servicio.usuario.id)">
              {{servicio.usuario.nombre}} {{servicio.usuario.apellidos}}</td>
              <td (click)="setFilterBySalon(servicio.salon.id)">
               {{servicio.salon.nombre}}</td>
            <td>{{servicio.salon.espacio.nombre}}</td>
            <td>{{servicio.lineasServicio}}</td>
            <td>{{servicio.comensales}}</td>
            <td>{{servicio.fechaHora | date: 'dd/MM/yy HH:mm'}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <!-- view -->
              <button class="btn btn-outline-primary" [routerLink]="['/user/servicio/view',servicio.id]">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
              <!-- edit -->
              <button class="btn btn-outline-warning" [routerLink]="['/admin/servicio/edit',servicio.id]">
                <fa-icon [icon]="faUserPen"></fa-icon>
              </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
